$font-color: #fff;
$font-color-form:#ccc;
$lightgray: #272727;

//major breakpoint variables
$bp-sm: 24em;
$bp-med: 46em;
$bp-lg: 50em;
$bp-xl: 73em;
//minor breakpoint variables
$bp-sm-1: 29em;
$bp-sm-2: 39em;
$bp-med-1: 48em;
$bp-lg-1: 55em;
$bp-lg: 50em;
$bp-xl-1: 67em;



